html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{margin:0;padding:0;border:0;vertical-align:baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;}

.header{
    background-color:rgba(189, 23, 189, 0.58);
    height:127px;
}

.logo-mb{
    position:absolute;
    top:18px;
    left: 10px;
    width:230px;
    height:80px;
    background:url(../images/logo.png) no-repeat center center;
    -webkit-background-size:contain;
   
    left:-20px;
}
.facilities-nav{
    text-align:right; 
}
.navigation{
    text-align:right;
}
.search-form {
    display: inline-block;
}
.search-field {
    width: 220px;
    height: 42px;
    border-radius: 30px;
    border: none;
    background-color: #000;
    color: #d1d1d1;
    opacity: 0.7;
    font-family: 'avantgarde';
    font-size: 14px;
}

.search-button {
    width: 70px;
    height: 42px;
    background-color: #e00d7a;
    border: none;
    border-radius: 30px;
    color: #fff;
    font-family: 'avantgarde-demi';
    font-size: 16px;
}

.search-button:hover {
    background-color: #c90b68; /* Change the color as needed */
}

/* Center search field vertically */
.search-form::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

/* Adjustments for responsiveness */
@media (max-width: 768px) {
    .search-form {
        display: none;
    }
}
.nav{
    display:block;
    width:100%;
    border-radius:0;
    padding:0;
    border:0; 
}
.navigation ul li {
    display: inline-block;
    margin-right: 10px; 
  }
.navigation ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.navigation .nav li a h1 {
    font-weight: normal;
    display: block;
    width: 100%;
    padding: 5px 12px;
    font-family: 'avantgarde-demi';
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    position: relative; /* Để xác định vị trí tương đối */
}
.navigation ul li a {
    text-decoration: none;
  }
.navigation .nav{
    border: 1px solid #e84a96;
    background: #e84a96;
    border-radius: 15px;
    height: 35px;
    width: 1100px;
    outline: 1px solid #e84a96;
    outline-offset: 2px;
    padding: 3px;
}
.navigation .nav li {
    text-align: center;
    padding-left: 9px;
    position: relative;
    left: -20px;
    padding-left: 7px;
}
.navigation .link-home{
    text-decoration: none;
    position: absolute;
    left: 870px;
    top: 31px;
}
li:hover{
    background-color:orange;
    padding-right: 22px;
    height: 35px;
    border-radius: 13px;
}
.navigation{
    padding-left: 240px;
    padding-top: 10px;
}
.link-home {
    background: url(images/home.png) no-repeat center 5px;
    margin-top: -5px;
    border: 1px solid #e84a96;
    border-radius: 15px;
    background: #e84a96;
    color: #fff;
    font-size: 10px;
    text-transform: uppercase;
    padding: 4px;
}











